#footer {
  margin-top: 3rem;
  .footer_section_1 {
    margin-bottom: 3rem;
  }
}
.socials {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.social_icon {
  color: #ED1C24;
  display: block;
  margin: 0 5px;
  font-size: 1.5rem;
}