#footer {
    margin-top: 3rem;
    .footer_section_1 {
      margin-bottom: 3rem;
    }
  }
  .socials {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .social_icon {
    color: #ED1C24;
    display: block;
    margin: 0 5px;
    font-size: 2rem;
  }
.social_icon:hover {
  color: #5BBA47;
}

.red_block {
  background-color: #ED1C24;
  width: 100%;
  min-height: 10px;
}
.green_block {
  background-color: #5BBA47;
  width: 100%;
  min-height: 30px;
}
.white_block {
  background-color: #ffffff;
  width: 100%;
  min-height: 5px;
}