nav li.router-link-active {
    text-decoration: underline;
}
#top_brand_bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    .red_block {
        background-color: #ED1C24;
        width: 100%;
        min-height: 10px;
    }
    .green_block {
        background-color: #5BBA47;
        width: 100%;
        min-height: 30px;
    }
    .white_block {
        background-color: #ffffff;
        width: 100%;
        min-height: 5px;
    }
}
.navigation_bar.web {
    display: flex;
    justify-content: center;
    align-items: center;
    .left_navigation_bar {
        width: 100%;
        display: flex;
        justify-content: center;
    ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    li {
        list-style: none;
    a {
        padding: 10px;
        text-decoration: none;
        font-size: 1.2em;
        color: black;
    &:hover {
         color: green;
                    }
                }
            }
        }
    }
.right_navigation_bar {
    width: 100%;
    display: flex;
    justify-content: center;
ul {
    display: flex;
    justify-content: center;
    align-items: center;
li {
    list-style: none;
a {
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
    color: black;
&:hover {
     color: green;
 }
                }
            }
        }
    }
}
.navigation_bar.mobile {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;

.mobile_menu_icon {
    position: absolute;
    top: 35%;
    left: 0%;
}
}
.main_logo {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 150px;
    height: auto;
}
@media screen and (max-width: 768px) {
    .navigation_bar.web {
        display: none;
    }
    .navigation_bar.mobile {
        display: flex;
    }
}